body{
    font-family:'open sans' , sans-serif;
}
h1{
    text-align:center;
}
#container{
    background-color:black;
    width:90% ;
    /* height:500px ; */
    margin: 0 auto;
    border:5px solid #ff2255;
    display:flex;
    flex-direction: row ;
     /* justify-content: space-evenly; */
     justify-content: center; 
    /* flex-wrap:wrap;      */
    /* align-items: flex-end ; */
    flex-wrap:wrap;
    /* align-content:center ; */
    
}
#container div{
    width:200px;
    height: 200px;
    text-align: center;
    max-width: 300px;
    flex-basis: 200px;
    flex-grow:1 ;
    font-size:4em ;
    
}
main{
    width:80% ;
    margin:0 auto ;
    border: 5px solid black ;
    height: 300px ;
    display: flex;

}
main .sidebar{
    background-color: blue;
    flex: 1 2 300px;
}
main .maincontent{
    background-color: skyblue;
    flex: 2 1 800px;
}


